<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <localRepository>C:/maven_lib</localRepository>
    <mirrors>
        <mirror>
            <id>alimaven</id>
            <mirrorOf>central</mirrorOf>
            <name>aliyun maven</name>
            <url>https://maven.aliyun.com/nexus/content/repositories/central/</url>
        </mirror>
    </mirrors>
</settings>
